[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
flask = "*"
flask-pymongo = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
